.board-area {
  width: 500px;
  min-height: 400px;
  background-color: rgb(232, 232, 232);
  color: rgb(49, 45, 45);
  border-radius: 20px;
  font-size: 25px;
  font-weight: 500;
  padding: 0 20px;
  padding-bottom: 20px;
}

.board-title {
  margin: 20px 0 0 20px;
  text-align: center;
}

.card-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo {
  background-color: white;
  padding: 10px 30px;
  margin: 10px 0;
  font-size: 15px;
  height: 60px;

  .todo-data {
    display: flex;
    gap: 15px;
    // justify-content: end;
    font-size: 10px;
    color: gray;
  }

  .delete {
    font-size: 15px;
    cursor: pointer;
  }
}
