.board-area {
  width: 500px;
  height: 500px;
  background-color: rgb(232, 232, 232);
  color: rgb(49, 45, 45);
  border-radius: 20px;
  font-size: 25px;
  font-weight: 500;
  padding: 0 10px;
  padding-bottom: 20px;

  .board-title {
    margin: 20px 0 0 20px;
    text-align: center;
  }
}
