.card-area {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.todo {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  font-size: 15px;
  height: 50px;
  width: 90%;
  cursor: grab;
}
