.logo-area {
  display: flex;
  justify-content: center;
  img {
    width: 400px;
    height: 200px;
  }
}

.boards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.input-area {
  margin: 50px 0px;
  display: flex;
  justify-content: center;
  flex-direction: center;
  align-items: center;

  input {
    width: 50%;
    margin-right: 20px;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
  }
  input:focus {
    outline: none;
  }

  input::placeholder {
    text-align: center;
  }

  .icon {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .enter-icon {
    cursor: pointer;
    font-size: 20px;
    margin-left: 20px;
  }
}
